@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.info {
  min-height: 9.5rem;
  small {
    font-size: 0.8rem;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 1em;
  }

  :global .card-header {
    text-align: center;
  }

  :global .card-body {
    text-align: center;
  }
}

.info-tall-body {
  line-height: 2.5em;
}

.pool-actions {
  :global .tab-content {
    .tab-pane {
      width: 60%;
      &.large {
        width: 100%;
      }
      margin: 0 auto;
      padding: 1em;
    }

    dl {
      text-align: center;
    }

    :global .form-group {
      max-width: 50%;
      margin: 0 auto;
    }
  }
}
