.info {
  min-height: 9.5rem;
  small {
    font-size: 0.8rem;
  }

  :global .card-header {
    text-align: center;
  }

  :global .card-body {
    text-align: center;
  }
}

.info-tall-body {
  line-height: 2.5em;
}
