.actions {
  text-align: right;

  // dirty trick to make last cell smaller
  width: 1%;
  white-space: nowrap;

  a {
    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}

.shorter {
  line-height: 1.3 !important;
}
