$body-bg: #fdfdfd;
$theme-colors: (
  "primary": #fc28d3,
  "secondary": #ebebeb,
);
$gray-100: #fdfdfd;

@import "~bootstrap/scss/bootstrap";

.piped-nav-links {
  @include media-breakpoint-up(sm) {
    font-family: "Source Sans Pro", sans-serif;
    padding-right: 3em;
    a {
      &:not(:last-child) {
        &::after {
          margin: 0 3em;
          content: "|";
        }
      }
    }
  }
}
