.table {
  display: table;
  width: 100%;
}

.thead {
  display: table-header-group;
  .table-cell {
    font-weight: bold;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
}

.tbody {
  display: table-row-group;
}

.table-row {
  display: table-row;
}

.table-cell {
  line-height: 2;
  padding: 0.75rem;
  display: table-cell;

  :global .svg-inline--fa {
    margin-left: 0.3rem;
  }
}

.table-form {
  .table-cell {
    position: relative;
    vertical-align: middle;

    input[type="number"] {
      -moz-appearance: textfield;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    :global .is-invalid {
      padding-right: 0.75rem;
    }

    :global .invalid-tooltip {
      font-size: 0.8rem;
      left: 5;
    }
  }
}
