name: Build on PR
"on": pull_request
jobs:
  unit_test:
    runs-on: ubuntu-latest
    env:
      TEST_INFURA_ID: ${{ secrets.WEB3_INFURA_PROJECT_ID }}
    steps:
      - uses: actions/checkout@v2
      - name: Installing Dependencies
        run: yarn
      - name: Running Unit Tests
        run: yarn run test
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Installing Dependencies
        run: yarn
      - name: Building App
        run: yarn run build
  preview_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Installing Dependencies
        run: yarn
      - name: Building App
        run: yarn run build
      - name: Deploy to Preview Channel
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT }}"
          expires: 4d
          projectId: backd-ffbef
